<html>
<head>
   <title>Events: Swing Dance Cooperative</title>
   <meta name="description" 
      content="Events: Swing Dance Cooperative">
   <meta name="keywords" content="swing dance coop events">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
   <link href="/style/main.css" rel="stylesheet">
   
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
   <style>
   .message-wrapper {
      margin-bottom: 3em;
      position: relative;

      border: solid 1px #ccc;
      border-radius: 5px 5px;

      background-color: #eee;
      /*box-shadow: 1px 1px #333;*/
   }
   .message {
    padding: 3ex;
    padding-bottom: 3.5ex;

    color: #555;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
   }
   .message-title {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0.8em;
   }

   .message .text {
    white-space: pre-line;
   }
   .timestamp {
    position: absolute;
    right: 1.2ex;
    bottom: 1ex;
    font-size: smaller;
    color: #b00;
   }
   .host {
    text-align: left;
   }
   .location {
    margin-top: 0.8em;
   }
   .tags {
    text-align: right;
   }
   .clear {
    background-color: #e3e3e3;
    color: #333;
   }
   .message-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2ex;
    padding-top: 0;
    padding-left: 3ex;
    padding-right: 3ex;
   }
   .section1, .cooperative {
    background-color: #e3e3e3;
   }
   .section1 h1, .cooperative h1 {
    color: #bb0103;
   }
   </style>
</head>
   <body>
      <div id="app">
      <div class="swing">
         <div class="column">
            <section class="section1">
               <div class="rings">
                  <a href="/">
                    <img src="/img/rings.png" class="for-phone"/>
                  </a>
               </div>
               <h1 class="title">Swing Dance Cooperative Events</h1>
            </section>

            <section class="clear">
              <p>Welcome to our small events page.</p>

              <div v-for="m in messages" v-cloak>
                <div class="message-wrapper">
                  <div class="message">
                    <div class="message-title">{{ m.Title }}</div>
                    <div class="text">{{ m.Message }}</div>
                    <!-- <div class="timestamp">posted {{ new Date(m.Created).toLocaleDateString() }}</div> -->

                    <div class="location">
                      <div>{{ m.Venue[0] }}</div>
                      <div>{{ m.Address[0] }}, {{ m.City[0] }}</div>
                    </div>
                  </div>
                  <div class="message-footer">
                    <div v-if="m.Host.length" class="host">{{ m.Host[0] }}</div>

                    <div class="tags">
                      <span v-for="tag in m.Tags">
                        #{{ tag }}
                      </span>
                      <span v-if="m.RegistrationType">
                        #{{ m.RegistrationType }}
                      </span>
                    </div>
                  </div>

                </div>
              </div>
            </section>

            <section class="section2 rsvp" v-if="!isCheckingSession && !isAuthenticated" v-cloak>
               <p>To be notified of new events by text message,
                  please enter your phone number.</p>

               <p>We'll send you a confirmation code to verify your number. Currently this will only work for phones in the United States and Canada.</p>

               <div>
                  <input type="text" v-model="phone" placeholder="e.g. 5555555555"/>
                  <!-- <input type="text" v-model="zip" placeholder="Zip Code" /> -->
                  <div style="text-align: center">
                     <button @click="start">Subscribe</button>
                  </div>

                  <div v-if="isStarted">
                     <p>Please enter the verification code we just sent:</p>
                     <input type="text" v-model="code"/>
                     <div style="text-align: center">
                        <button v-if="!isChecking && !isConfirmed" 
                           @click="check">Verify</button>
                        <p v-if="isChecking">
                           Verifying ...
                        </p>
                        <p v-if="isConfirmed">
                           You're in! Thank you.
                        </p>
                        <p v-if="confirmationError">
                           Sorry, that was not the code we sent.
                        </p>
                     </div>
                  </div>

                  <p v-if="error">
                     <strong>Attention:</strong> There was an error.
                     Please let us know at info@dance.coop.
                  </p>
               </div>
            </section>

            <section class="section2 rsvp" v-else>
              <p v-if="isCheckingSession">Signing in ...</p>
              <form @submit.prevent="announce" v-if="isAuthenticated">
                <div>
                  <p>Post event:</p>
                  <textarea v-model="message" style="border-color: white"></textarea>
                </div>
                <button type="submit">Add event</button>
              </form>
            </section>

            <section class="cooperative">
              <div class="column">
                <h1 class="for-phone">About the co-op</h1>
                <p>We're a cooperative, and we identify with the 
                   <a href="https://www.ica.coop/en/whats-co-op/co-operative-identity-values-principles">cooperative movement</a> and its values.</p>

                <p>We'll be talking more about this later, but half of what we're doing is encouraging other 
                   organizations to become cooperatives.</p>

                <div class="close">
                  <div class="name">The Swing Dance Cooperative</div>
                  <div>Olympia, Washington.</div> 

                  <a href="/">
                    <img src="/img/rings.png" class="rings"/>
                  </a>
                </div>
              </div>
            </section>
         </div>
      </div>
      </div>
<script>
// Initialize application
var auth = new auth0.WebAuth({
  domain:       'auth0.dance.coop',
  clientID:     '8fgalHmdBwGPbqtkERsxol3AnBJoRN8-', // public
  redirectUri:  window.location.protocol 
    + '//' 
    + window.location.host
    + '/events',
  responseType: 'token id_token'
});

new Vue({
  el: '#app',
  data: {
    phone: null,
    code: null,
    zip: null,
    isStarted: false,
    isChecking: false,
    isConfirmed: false,
    isCheckingSession: false,
    isAuthenticated: false,
    error: null,
    confirmationError: null,
    authResult: null,
    messages: [],
    message: null
  },
  computed: {
    fullPhoneNumber() {
      return '+1' + (this.phone && this.phone.replace(/-/g, ''));
    }
  },
  created() {
    this.isCheckingSession = true;
    auth.checkSession({}, (err, authResult) => {
      this.isCheckingSession = false;
      if (authResult 
      && authResult.accessToken 
      && authResult.idToken) {
        // Authenticated
        this.isAuthenticated = true;
        this.authResult = authResult;
      }
      else {
        this.unauthenticated = true;
      }
    });

    this.getMessages();
  },
  methods: {
    getMessages() {
      axios.get('/api/messages').then(res => {
        this.messages = res.data;
      })
      .catch(err => {
        console.log(err);
      });
    },
    announce() {
      var data = {
         message: this.message
      };

      axios.post('/api/messages', data, {
         headers: { 
            'Authorization': 'Bearer ' + this.authResult.idToken
         }
      })
      .then(res => {
        console.log(res.data);
        this.messages.push(this.message);
        this.message = null;
        this.getMessages();
      })
      .catch(err => {
         console.log(err);
      });
    },

    start: function () {
      // Send a verification code using SMS
      var data = {
        connection: 'sms',
        send: 'code',
        phone_number: this.fullPhoneNumber,
      };

      auth.passwordlessStart(data, (err, res) => {
        this.isStarted = true;
        this.error = err;
      });
    },
    check: function() {
      var data = {
        connection: 'sms',
        phoneNumber: this.fullPhoneNumber,
        verificationCode: this.code
      };

      this.isChecking = true;
      auth.passwordlessLogin(data, (err,res) => {
        // Callback for errors only / this method
        // performs a redirect.
        this.isChecking  = false;
        this.confirmationError = err;
      });
    }
  }
})

</script>
   </body>
</html>