<html>
<head>
   <title>The Swing Dance Cooperative | Olympia</title>
   <meta name="description" 
      content="The Swing Dance Cooperative. We swing dance! We're in Olympia! We're an employee-owned cooperative!">
   <meta name="keywords" content="swing dance coop co-cop cooperative olympia">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <meta property="og:title" content="The Swing Dance Cooperative | Olympia">
   <meta property="og:type" content="website">
   <meta property="og:image" content="http://swing.dance.coop/img/ograph-banner.png">
   <meta property="og:image:secure_url" content="https://swing.dance.coop/img/ograph-banner.png">
   <meta property="og:url" content="https://swing.dance.coop/">
   <meta property="og:description" 
      content="The Swing Dance Cooperative. We swing dance! We're in Olympia! We're an employee-owned cooperative!">

   <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css" rel="stylesheet">

   <link href="/style/main.css" rel="stylesheet">
   <style>
   .rsvp .agreement input {
      width: inherit;
      margin-right: 1.5ex;
   }
   .agreement {
      margin-top: 0.5em;
      margin-bottom: 1em;
   }
   </style>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
   <div id="app">
      <div class="swing">
         <div class="column">
            <section class="section1">
               <div class="rings">
                  <img src="./img/rings.png" class="for-phone"/>
               </div>
               <h1 class="title">The Swing Dance<span class="for-phone"> Cooperative</span></h1>

               <p>Good {{greeting}} and salutations,</p>

               <p>
                  We're a new organization, here to share our favorite activty &ndash; swing dancing &ndash; 
                  with Olympia. We're also here to be a part of the 
                  <a href="https://www.ica.coop/en/whats-co-op/co-operative-identity-values-principles">cooperative movement</a>, but more on that later.
               </p>

               <p>
                  Our third class series, Swing Dance Starter Kit, starts Monday, December 3.
                  If you would like to take the series, please continue reading.
               </p>
            </section>

<!--
            <section>
               <h2>An evening of swing dancing</h2>

               <p>You are invited to an evening of swing dancing in Olympia. Please join us at the historic Abigail Stuart House, situated just south of downtown, on 1002 Washington St SE.</p> 

               <p>The night will begin with an introductory lesson at 7 p.m. taught by Amee and Phil, followed by dancing from 8 until 10.</p>

               <p>We are fortunate to have internationally renown DJ and Track Town Swing founder Nick Davis joining us from Eugene, Oregon for our inaugural dance.</p>

               <div class="fun-times">
                  <img src="/img/red-shoes.jpg"/>
               </div>

               <div class="lindy-dates">
                  <div class="when-where">
                     <div>
                        <h4>Schedule</h4>
                        <ul>
                           <li>Saturday, November 3</li>
                           <li>Lesson at 7 p.m.</li>
                           <li>Music and dancing from 8 until 10 p.m.</li>
                        </ul>
                     </div>

                     <div>
                        <h4>Venue</h4>
                        <div class="venue-content">
                           <div>Abigail Stuart House</div>
                           <div>1002 Washington St SE</div>
                           <div>Olympia</div>
                        </div>
                     </div>
                  </div>
               </div>

               <h4>Admission</h4>
               <p>The dance is open to the public, and both individuals and partners are welcome.</p>

               <p>Cover for the evening is by donation.</p>
            </section>
-->
<!--
            <section>
               <h2>Partner Charleston, 1930s</h2>

               <p>The Charleston, once the world's biggest dance craze, is fun, easy to pick up,
               and the perfect way to start swing dancing, with or without a dance partner.</p>

               <div class="fun-times">
                  <img src="/img/charleston.jpg"/>
                  <div class="credit">Photo credit: Martin &amp; Renee Norred</div>
               </div>

               <p>This class is for everyone:</p>

               <p>If you're new to swing dancing, this class is our recommended starting point.</p>

               <p>
                  If you've been dancing for a little bit, this class will cover
                  1930s Charleston (side-by-side), including footwork, connection, 
                  momentum, and improvisation fundamentals, followed by a comfortable 
                  introduction to tandem Charleston.
               </p>

               <p>
                  This class has no prerequisite for attendance, though a reservation is required.
               </p> 

               <p><strong>Please note:</strong> All spots are sold out for the Charleston class.</p>

               <div class="lindy-dates">
                  <div class="when-where">
                     <div>
                        <h4>Schedule</h4>
                        <ul>
                           <li>Starts October 1</li>
                           <li>Mondays, 7-8:30 p.m.</li>
                           <li>Four weeks: Oct 1, 8, 15, 22</li>
                        </ul>
                     </div>

                     <div>
                        <h4>Venue</h4>
                        <div class="venue-content">
                           <div>Abigail Stuart House</div>
                           <div>1002 Washington St SE</div>
                           <div>Olympia</div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
-->

            <section>
               <h2>Swing Dance Starter Kit</h2>

               <p>Welcome to the world of swing dancing. With Swing Dance Starter Kit,
               you'll learn the essentials to start having fun on the dance floor in
               as little time as possible &mdash; only three weeks.</p>

               <p>This class is free &mdash; it's a six-lesson series that will 
               introduce you to social dancing, Lindy hop, Charleston, and East Coast
               swing.</p>

               <div class="fun-times">
                  <img src="/img/fancy-dance.jpg"/>
                  <div class="credit">Photo: Abigail Stuart House, November 3</div>
               </div>


               <p>Our goal in this series is to get you comfortable on the dance floor, 
                  and help you get started dancing on a regular basis &mdash; in Olympia, Tacoma, Seattle, Portland, Bellingham, and anywhere there are dances hosted by Lindy hoppers around the world.</p>

               <div class="lindy-dates">
                  <div class="when-where">
                     <div>
                        <h4>Schedule</h4>
                        <ul>
                           <li>Starts Monday, December 3</li>
                           <li>7-8:30 p.m.</li>
                           <li>Six sessions: Dec 3, 5, 10, 12, 17, 19</li>
                           <li>(Mondays and Wednesdays)</li>
                        </ul>
                     </div>

                     <div>
                        <h4>Venue</h4>
                        <div class="venue-content">
                           <div>Abigail Stuart House</div>
                           <div>1002 Washington St SE</div>
                           <div>Olympia</div>
                        </div>
                     </div>

                     <div>
                        <h4>Requirements</h4>
                        <div class="venue-content">
                           <p>This class series is for beginners and experts. Intermediate dancers are welcome, but they will likely have the hardest time in this series, as most of their time will be spent unlearning what they have learned.</p>

                           <p>To be fair to all students, the first two sessions, December 3rd and 5th, cannot be missed.</p>
                        </div>
                     </div>

                     <div>
                        <h4>To attend</h4>
                        <div class="venue-content rsvp">
                           <p>Please reserve your spot by submitting this form, and we'll see you on December&nbsp;3rd at 7 p.m. at the Abigail Stuart House!

                           <p>Because there's no admission cost for the
                           Starter Kit, we do have a $20 fee for cancellations 
                           made after November 24. Missing the first session or 
                           the second session is considered a cancellation in this series.</p>

                           <form v-on:submit.prevent="rsvp">
                              <label>
                                 <div>Name</div>
                                 <input type="text" v-model="name"/>
                              </label>

                              <div class="agreement">
                                 <div style="margin-bottom: 0.5ex">Please confirm your availability:</div>
                                 <input id="agreed" type="checkbox" v-model="agreed">
                                 <label for="agreed">I will be at the first session and
                                 the second session.</label></input>
                              </div>

<!--                               <div>Which course would you like to take?</div>
                              <select v-model="course">
                                 <option value="null">&ndash; Please select &ndash;</option>
                                 <option value="Starter Kit">Starter Kit</option>
                              </select>
 -->
                              <div>What dance role would you like to have during Swing Dance Starter Kit?</div>

                              <p>Swing dancing is a conversation, typically between two people. The person who is responsible for moving first is referred to as a lead, whereas the person who moves second is referred to as a follow. Most people who dance long enough learn both roles.</p>

                              <select v-model="role">
                                 <option value="null">&ndash; Please select &ndash;</option>
                                 <option value="Follow - Waitlist">Follow - Waitlist</option>
                                 <option value="Lead">Lead</option>
                                 <option value="Any">Any</option>
                              </select>

                              <div style="margin-bottom: 1em">If it says "Waitlist" next to your chosen role, that means we're waiting for the class to balance out before allowing more people who want that role into the class.</div>

                              <div>What's your zip code?</div>
                              <input type="text" v-model="zip"/>

                              <div>And your email address?</div>
                              <input type="text" v-model="email"/>

                              <div>Anything else you'd like to share?</div>
                              <textarea rows="4" v-model="comments"></textarea>

                              <div v-if="!submitted">
                                 <button type="submit" :disabled="sending">RSVP</button>
                                 <span v-if="sending" style="margin-left: 1ex">Sending ...</span>
                              </div>
                              
                              <div v-else>
                                 <p>
                                    Thank you! You should receive an email within an hour to
                                    confirm that everything went through. &mdash; P</p>
                              </div>

                              <p v-if="error" v-cloak>
                                 Sorry, there was an error when we tried to submit your form.
                                 Please let us know at rsvp@dance.coop?
                              </p>

                              <p v-if="needAgreement" class="need-agreement">
                                 <strong>Attention:</strong> To RSVP, please mark that you can attend the first class and the second class, above, and try submitting the form again.
                              </p>

                           </form>

                        </div>
                     </div>
                  </div>
               </div>
            </section>

            <section class="contact">
               <h2>Keep in touch</h2>

               <div>
                  <p>The easiest way to find out about our events is to join our Meetup group. With Meetup, you will be emailed when we announce new events.</p>
                  <div style="text-align: center">
                     <a href="https://www.meetup.com/Swing-Dance-Cooperative/" class="button button-caution button-raised button-rounded">Visit Meetup</a>
                  </div>
               </div>

               <p>
                  On Instagram: <a href="https://www.instagram.com/swingcoop/">@swingcoop</a>
               </p>
            </section>

            <section class="teachers">
               <h2>Swing Dance Cooperative Staff</h2>
               <h4>Gabrielle</h4>

               <div class="bio">
                  <div class="content">
                     <p>Dancing has been part of her life for as long as she can remember. From little pink slippers to her suede soled heels, expressing herself through dance is one of her greatest passions. Her dance philosophy is that as long as you're smiling, you're doing something right.</p>

                     <div class="photo">
                        <img src="./img/gabrielle-bio.jpg"/>
                     </div>

                     <p>With over 15 years of experience, Gabrielle has been teaching in Washington and learning all over the States. Despite knowing many styles of dance, Lindy hop is her first love. The pure energy of Lindy is hard to match!</p>

                     <p>She lives for creating solid connections on the dance floor. Her favorite move is a well-executed outside turn, simple but so good!</p>
                  </div>
                  <div class="photo-lg">
                     <img src="./img/gabrielle-bio.jpg"/>
                  </div>
               </div>

               <h4>Philip</h4>
               <div class="bio">
                  <div class="content">
                     <p>
                        He took his first dance class to confront his greatest 
                        social fear, dancing in a public space. Philip is a co-founder 
                        of the Corvallis Swing Dance Society, where, among other things,
                        he developed their class
                        curriculum. He has taught for over 10 years, helping thousands 
                        of people discover swing dance in that time.
                     </p>

                     <div class="photo">
                        <img src="./img/philip-bio.jpg"/>
                     </div>

                     <p>
                        Philip loves old jazz, and the people who created it. He enjoys creating spaces where people feel comfortable expressing themselves, and his favorite move is hopping around.
                     </p>
                  </div>
                  <div class="photo-lg">
                     <img src="./img/philip-bio.jpg"/>
                  </div>
               </div>
            </section>

            <section class="recommendations">
               <h2>Recommendations</h2>

               <p>If you're wondering if these classes are for you, they probably are. I mean, you're
                  reading about swing dancing on the internet. Let us know if you have any questions.</p>

               <p>Here's an example of Lindy hop from Denver in 2013:</p>

               <iframe width="100%" height="315" src="https://www.youtube.com/embed/FRIlMpVOH7k?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </section>
         </div>
      </div>

      <section class="cooperative">
         <div class="column">
            <h1 class="for-desktop">Cooperative</h1>
            <h1 class="for-phone">About the co-op</h1>
            <p>We're a cooperative, and we identify with the 
               <a href="https://www.ica.coop/en/whats-co-op/co-operative-identity-values-principles">cooperative movement</a> and its values.</p>

            <p>We'll be talking more about this later, but half of what we're doing is encouraging other 
               organizations to become cooperatives.</p>

            <!-- Begin MailChimp Signup Form -->
<!--             <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <div id="mc_embed_signup">
               <form action="https://dance.us19.list-manage.com/subscribe/post?u=d5a2a2b874edf7c19ae6c3aa2&amp;id=7f9543fea4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                     <h2>Subscribe to our mailing list</h2>
                     <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                     <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                     </div>
                     <div class="mc-field-group">
                        <label for="mce-FNAME">First Name </label>
                        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                     </div>
                     <div class="mc-field-group">
                        <label for="mce-LNAME">Last Name </label>
                        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                     </div>
                     <div class="mc-field-group size1of2">
                        <label for="mce-BIRTHDAY-month">Birthday </label>
                        <div class="datefield">
                           <span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> / 
                           <span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span> 
                           <span class="small-meta nowrap">( mm / dd )</span>
                        </div>
                     </div>   
                     <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                     </div>    
                     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d5a2a2b874edf7c19ae6c3aa2_7f9543fea4" tabindex="-1" value=""></div>
                     <div class="clear submit-panel"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
               </form>
            </div>
 -->
            <!--End mc_embed_signup-->

            <div class="close">
               <div>Summer time winds!</div>
               <div>hotjazz on th' street</div>
               <div>the warm breeze swings</div>
               <div>makes livin' all reet</div>
               <div>take me back to Harlem</div>
               <div>take me back to Harlem</div>
               <div>take me back to Harlem</div>
               <div>take me back to Harlem</div> 
               <div>oh, where livin's all reet</div>

               <div class="name">The Swing Dance Cooperative</div>
               <div>Olympia, Washington.</div> 

               <img src="./img/rings.png" class="rings"/>
            </div>
         </div>
      </section>
   </div>
   <script>
new Vue({
  el: '#app',
  data: {
    name: null,
    course: null,
    role: null,
    zip: null,
    email: null,
    comments: null,
    agreed: null,
    submitted: false,
    error: false,
    sending: false,
    rsvpPressed: false,
    hour: new Date().getHours()
  },
  computed: {
    greeting() {
      if (this.hour < 3)
         return "evening"
      if (this.hour < 6) 
         return "... morning?"
      if (this.hour < 12)
         return "morning"
      if (this.hour < 17)
         return "afternoon"
      return "evening"
    },
    needAgreement() {
      return this.rsvpPressed && !this.agreed;
    }
  },
  methods: {
    rsvp: function () {
      this.rsvpPressed = true;
      if (this.needAgreement) {
         return;
      }
      this.sending = true;
      var data = {
         name: this.name,
         course: 'Starter Kit',
         role: this.role,
         zip: this.zip,
         email: this.email,
         comments: this.comments,
      };
      axios.post('/api/reservations', data)
      .then(() => {
         this.submitted = true;
         this.sending = false;
         // console.log(data);
      })
      .catch(() => {
         this.error = true;
         this.sending = false;
      });
    }
  }
})
</script>

</body>
</html>