<html>
<head>
   <title>Profile: Swing Dance Cooperative</title>
   <meta name="description" 
      content="Swing Dance Cooperative: Profile">
   <meta name="keywords" content="swing dance coop profile">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
   <link href="/style/main.css" rel="stylesheet">
   
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <style>
  .checkbox input {
      width: inherit;
      margin-right: 1.5ex;
      vertical-align: text-top;
      margin-top: 3px;
      margin-bottom: 0;
   }
   .checkbox {
      margin-top: 0.5em;
      margin-bottom: 1em;
   }
   </style>
</head>
   <body>
      <div id="app">
      <div class="swing">
         <div class="column">
            <section class="section1">
               <div class="rings">
                  <a href="/">
                    <img src="/img/rings.png" class="for-phone"/>
                  </a>
               </div>
               <h1 class="title">The Swing Dance Cooperative</h1>
               <h2>Guest Profile</h2>
            </section>

            <section v-if="isCheckingSession" class="rsvp">
              <p>
                Signing in ...
                <span v-if="isGettingProfile" v-cloak>Getting profile ...</span>
              </p>
            </section>
            <section v-else-if="isAuthenticated" v-cloak>
              <div style="position: relative" class="rsvp">
                <p>Welcome.</p>

                <p>Here's a small page for your profile and preferences. We plan
                  on adding more things soon, but for now it's just your name and
                  a checkbox.</p>

                <label for="name-input">Name (or stage name)</label>
                <input id="name-input" type="text" v-model="name">

                <div style="margin-top: 1em">
                  <label class="checkbox">
                    <input 
                      type="checkbox" 
                      style="display: inline-block" 
                      v-model="announcements">
                    Subscribe to txt-message announcements
                  </label>
                </div>
                <div style="margin-top: 1em; text-align: center">
                  <button @click="saveProfile">Save Profile</button>
                </div>
                <a href="#" @click="logout" style="position: absolute; top: 0; right: 1.2ex">Sign out</a>
              </div>
            </section>

            <section class="section2" v-if="!isCheckingSession && !isAuthenticated" v-cloak>
               <p>To sign in, please enter your phone number.</p>

               <p>We'll send you a confirmation code to verify your number. Currently this will only work for phones in the United States and Canada.</p>

               <div class="rsvp">
                  <form @submit.prevent="start">
                    <input type="text" v-model="phone" placeholder="e.g. 5555555555"/>
                    <!-- <input type="text" v-model="zip" placeholder="Zip Code" /> -->
                    <div style="text-align: center">
                       <button type="submit">Sign in</button>
                    </div>
                  </form>

                  <form @submit.prevent="check" v-if="isStarted">
                     <p>Please enter the verification code we just sent:</p>
                     <input type="text" v-model="code"/>
                     <div style="text-align: center">
                        <button v-if="!isChecking && !isConfirmed" 
                           type="submit">Verify</button>
                        <p v-if="isChecking">
                           Verifying ...
                        </p>
                        <p v-if="isConfirmed">
                           You're in! Thank you.
                        </p>
                        <p v-if="confirmationError">
                           Sorry, that was not the code we sent.
                        </p>
                     </div>
                  </form>

                  <p v-if="error">
                     <strong>Attention:</strong> There was an error.
                     Please let us know at info@dance.coop.
                  </p>
               </div>
            </section>

            <section class="cooperative">
              <div class="column">
                <h1 class="for-phone">About the co-op</h1>
                <p>We're a cooperative, and we identify with the 
                   <a href="https://www.ica.coop/en/whats-co-op/co-operative-identity-values-principles">cooperative movement</a> and its values.</p>

                <p>We'll be talking more about this later, but half of what we're doing is encouraging other 
                   organizations to become cooperatives.</p>

                <div class="close">
                  <div class="name">The Swing Dance Cooperative</div>
                  <div>Olympia, Washington.</div> 

                  <a href="/">
                    <img src="/img/rings.png" class="rings"/>
                  </a>
                </div>
              </div>
            </section>
         </div>
      </div>
      </div>
<script>
// Initialize application
var auth = new auth0.WebAuth({
  domain:       'auth0.dance.coop',
  clientID:     '8fgalHmdBwGPbqtkERsxol3AnBJoRN8-', // public
  redirectUri:  window.location.protocol 
    + '//' 
    + window.location.host
    + '/profile',
  responseType: 'token id_token'
});

new Vue({
  el: '#app',
  data: {
    phone: null,
    code: null,
    zip: null,
    isStarted: false,
    isChecking: false,
    isConfirmed: false,
    isCheckingSession: false,
    isAuthenticated: false,
    hasProfile: false,
    error: null,
    confirmationError: null,
    idToken: null,
    name: null,
    announcements: null,
    isGettingProfile: false 
  },
  computed: {
    fullPhoneNumber() {
      return '+1' + (this.phone && this.phone.replace(/-/g, ''));
    }
  },
  created() {
    this.isCheckingSession = true;
    auth.checkSession({}, (err, authResult) => {
      if (authResult 
      && authResult.accessToken 
      && authResult.idToken) {
        // Authenticated
        this.isAuthenticated = true;
        this.idToken = authResult.idToken;
        this.getProfile().then(() => {
           this.isCheckingSession = false;
        });
      }
      else {
        this.isCheckingSession = false;
        this.unauthenticated = true;
      }
    });
  },
  methods: {
    start: function () {
      // Send a verification code using SMS
      var data = {
        connection: 'sms',
        send: 'code',
        phone_number: this.fullPhoneNumber,
      };

      auth.passwordlessStart(data, (err, res) => {
        this.isStarted = true;
        this.error = err;
      });
    },
    check: function() {
      var data = {
        connection: 'sms',
        phoneNumber: this.fullPhoneNumber,
        verificationCode: this.code
      };

      this.isChecking = true;
      auth.passwordlessLogin(data, (err,res) => {
        // Callback for errors only
        this.isChecking  = false;
        this.confirmationError = err;
      });
    },
    getProfile: function() {
      this.isGettingProfile = true;
      return axios.get('/api/profile', {
         headers: { 
            'Authorization': 'Bearer ' + this.idToken
         }
      })
      .then(res => {
        var data = res.data;
        
        this.name = data.name;
        this.announcements = data.announcements;

        this.hasProfile = true;
        this.isGettingProfile = false;
      })
      .catch(err => {
        this.isGettingProfile = false;
        console.log(err);
      });
    },
    saveProfile: function() {
      var model = {
          name: this.name,
          announcements: this.announcements
      };

      axios.put('/api/profile', model, {
         headers: { 
            'Authorization': 'Bearer ' + this.idToken
         }
      })
      .then(res => {
        // console.log('ok');
      })
      .catch(err => {
         console.log(err);
      });
    },
    logout() {
      auth.logout({
        returnTo: window.location.protocol 
          + '//' 
          + window.location.host
          + '/profile',
        clientID: '8fgalHmdBwGPbqtkERsxol3AnBJoRN8-'
      });
    }
  }
})

</script>
   </body>
</html>