<html>
<head>
   <title>Announcements: Swing Dance Cooperative</title>
   <meta name="description" 
      content="Swing Dance Cooperative: Announcements">
   <meta name="keywords" content="swing dance coop announcements">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
   <link href="/style/main.css" rel="stylesheet">
   
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
</head>
   <body>
      <div id="app">
      <div class="swing">
         <div class="column">
            <section class="section1">
               <div class="rings">
                  <img src="/img/rings.png" class="for-phone"/>
               </div>
               <h1 class="title">Swing Dance Announcements</h1>
                <p>Our next dance is Saturday, February 2, 2019 at the Abigail Stuart House, in the evening.</p>

            </section>

            <section v-if="isCheckingSession">
              <p>Signing in ...</p>
            </section>

            <section v-else-if="isAuthenticated">
              <p>Thank you for joining the announcement list.</p>
            </section>

            <section v-else>
              <p>Welcome to our small announcements page.</p>
            </section>


            <section class="section2" v-if="!isCheckingSession && !isAuthenticated">
               <p>To be notified of new events by text message,
                  please enter your phone number.</p>

               <p>We'll send you a confirmation code to verify your number. Currently this will only work for phones in the United States and Canada.</p>

               <div class="rsvp">
                  <input type="text" v-model="phone" placeholder="e.g. 5555555555"/>
                  <!-- <input type="text" v-model="zip" placeholder="Zip Code" /> -->
                  <div style="text-align: center">
                     <button @click="start">Subscribe</button>
                  </div>

                  <div v-if="isStarted">
                     <p>Please enter the verification code we just sent:</p>
                     <input type="text" v-model="code"/>
                     <div style="text-align: center">
                        <button v-if="!isChecking && !isConfirmed" 
                           @click="check">Verify</button>
                        <p v-if="isChecking">
                           Verifying ...
                        </p>
                        <p v-if="isConfirmed">
                           You're in! Thank you.
                        </p>
                        <p v-if="confirmationError">
                           Sorry, that was not the code we sent.
                        </p>
                     </div>
                  </div>

                  <p v-if="error">
                     <strong>Attention:</strong> There was an error.
                     Please let us know at info@dance.coop.
                  </p>
               </div>
            </section>
         </div>
      </div>
      </div>
<script>
// Initialize application
var auth = new auth0.WebAuth({
  domain:       'auth0.dance.coop',
  clientID:     '8fgalHmdBwGPbqtkERsxol3AnBJoRN8-', // public
  redirectUri:  window.location.protocol 
    + '//' 
    + window.location.host
    + '/announcements',
  responseType: 'token id_token'
});

new Vue({
  el: '#app',
  data: {
    phone: null,
    code: null,
    zip: null,
    isStarted: false,
    isChecking: false,
    isConfirmed: false,
    isCheckingSession: false,
    isAuthenticated: false,
    error: null,
    confirmationError: null
  },
  computed: {
    fullPhoneNumber() {
      return '+1' + this.phone;
    }
  },
  created() {
    this.isCheckingSession = true;
    auth.checkSession({}, (err, authResult) => {
      this.isCheckingSession = false;
      if (authResult 
      && authResult.accessToken 
      && authResult.idToken) {
        // Authenticated
        this.isAuthenticated = true;
      }
      else {
        this.unauthenticated = true;
        this.confirmationError = err;
      }
    });
  },
  methods: {
    start: function () {
      // Send a verification code using SMS
      var data = {
        connection: 'sms',
        send: 'code',
        phone_number: this.fullPhoneNumber,
      };

      auth.passwordlessStart(data, (err, res) => {
        this.isStarted = true;
        this.error = err;
      });
    },
    check: function() {
      var data = {
        connection: 'sms',
        phoneNumber: this.fullPhoneNumber,
        verificationCode: this.code
      };

      this.isChecking = true;
      auth.passwordlessLogin(data, (err,res) => {
        // Callback for errors only
        this.isChecking  = false;
        this.confirmationError = err;
      });
    }
  }
})

</script>
   </body>
</html>